body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden ;
}
.main{
    position: relative;
    display: flex; 
    height: 100vh;
    padding: 0.5rem;
}
.siderbar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main-contant{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    padding: 0 1.6rem;
    overflow: auto;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    
}

a{
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;
}
.nav{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    height: 80px; 
    padding: 0.5rem 0.75rem;
}

.nav-option{
   line-height: 1.5rem;
   opacity: 0.7;
   padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i {
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100vh;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    
    display: flex;
}
.icons i{
    opacity: 0.7;
    cursor: pointer;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.lib-main-box{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #232323;
    border-radius: 0.75rem;
    gap: 1rem;
}
.lib-main-box i{
    background-color: #ccc;
    color: #232323;
    font-size: 1rem;
    padding: .6rem .65rem;
    border-radius: .3rem;
    font-weight: 100;
}
.playlistbox{
    display: flex;
    align-items: center;
    gap: 05px;

}
.playlistbox img{
    border-radius: 0.4rem;
    height: 2.2rem;
}
.box{
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 1.25rem 0 ;
    padding: 0.1rem 1rem 0.85rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 100;
}
.badge{
    background-color: #fff;
    border: none;
    width: fit-content;
    height: 2rem;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    cursor: pointer;
}

/*Sticky nav */
.sticky-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.75rem 0 0.5rem 0;
    background-color: #121212;
    z-index: 3;
}
.sticky-nav-icons{
    padding-left: 0.75rem;
    cursor: pointer;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;
}
.dark-badge{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width : 1000px) {
    .hide{
        display: none;
    }
}
.card-cantainer{
    display: flex;
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.card{
    width: 150px;
    padding: 1rem;
    background-color: #232323;
    border-radius: 0.5rem;
    margin: 0 1rem 1rem 0;
    cursor: pointer;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.95rem;
    opacity: 0.5;
}

.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    border-top: 1px solid #fff;
    height: 50%;
    width: 90%;
    opacity: 0.4;
}

/* Music Player */

.music-player{
    display: flex;
    align-items: center;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;

}

.player-control-icon {
    height: 1rem;
    margin: 0 0.85rem;
    opacity: 0.7;
    cursor: pointer;
}
.player-control-icon:hover {
    opacity: 1;
}
.player-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}


.album{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0.5rem;

}
.album-img{
    height: 3rem;
    border-radius: 6px;
    margin-right: 1rem;
}
.album-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    margin-top: -0.3rem;
    
}
.song-name{
    font-size:1rem;
    
}
.singer{
    font-size: 0.70rem;
    margin-top: -13px;
    opacity: 0.5;
}

.album-icons{
    display: flex;
}
.album-icon-1{
    height: 1.3rem;
    margin-top: 3.3px;
    opacity: 0.7;
    margin-right: 1rem;
    cursor: pointer;
}
.album-icon-2{
    height: 1.84rem;
    opacity: 0.7;
    cursor: pointer;
}
.album-icon-2:hover{
    opacity: 1;
}
.album-icon-1:hover{
    opacity: 1;
}

.controls{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1.5rem;
}
.control-icon{
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.cicon-1{
    height: 2.5rem;
    
}
.cicon-2{
    height: 2.6rem;
}
.cicon-3{
    height: 1.35rem;
}
.cicon-4{
    height: 1rem;
    margin: 0 0.30rem;

}
.cicon-5{
    height: 2.6rem;
}
.cicon{
    opacity: 0.6;
    margin-right: 0.3.8rem;
}
.cicon:hover{
    opacity: 1;
   
}

.volume-bar {
    -webkit-appearance: none;
    appearance: none; 
    width: 28%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 2px;
    background: #ccc;
  }
  
  .volume-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.55rem;
    width: 0.55rem;
    border: none;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: 01px;
}
  
  .volume-bar::-moz-range-thumb {
    height: 6px;
    width: 6px;
    background-color: rgb(27, 215, 96);
    border-radius: 50%;
    border: none;
    transition: all 2s linear;
  }
  
  .volume-bar::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 5px rgba(27, 215, 96, 0.1)
  }
  .volume-bar:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 6.5px rgba(27, 215, 96, 0.2)
  }
  .volume-bar:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 7px rgba(27, 215, 96, 0.2)
  }
  
  .volume-bar::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(27, 215, 96, 0.1)
  }
  .volume-bar:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(27, 215, 96, 0.2)
  }
  .volume-bar:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(27, 215, 96, 0.2) 
  }
  
  
/* .volume-bar::-webkit-slider-runnable-track{ 
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.volume-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.65rem;
    width: 0.65rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -3px;
} */
/* .prog-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.prog-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}
.prog-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
} */
.prog-bar {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 3px;
  background: #ccc;
}

.prog-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 12px;
  width: 12px;
  background-color: #1bd760;
  border-radius: 50%;
  border: none;
  transition: all 2s linear;
}

.prog-bar::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: rgb(27, 215, 96);
  border-radius: 50%;
  border: none;
  transition: all 2s linear;
}

.prog-bar::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 5px rgba(27, 215, 96, 0.1)
}
.prog-bar:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 6.5px rgba(27, 215, 96, 0.2)
}
.prog-bar:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 7px rgba(27, 215, 96, 0.2)
}

.prog-bar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(27, 215, 96, 0.1)
}
.prog-bar:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(27, 215, 96, 0.2)
}
.prog-bar:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(27, 215, 96, 0.2) 
}

.box-img{
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem 4rem 1rem 1rem;
    background-color: #111;
    display: flex;
    height: 8rem;
    gap: 30px;
}
.box-img img{
    border-radius: 0.5rem;
    height: 100%;
}
.box-img .details{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.box-img .details p{
    margin-bottom: 0rem;
}
.box-img .details p:nth-child(1){
    font-weight: 600;
    font-size: 18px;
}
.box-img .details p:nth-child(2){
    font-size: 14px;
    opacity: 0.6;
    margin-top: 0.5rem;
}
.main-cnt{
    display: flex;
    flex-direction: column;

}
.song-list{
    flex: 1;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: #100f0f;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: scroll;
    gap: 1rem;
}
.song-list .song{
    display: flex;
    position: relative;
    gap: 1rem;
    padding: 0.5rem;
    background-color: rgb(19, 19, 19);
    border-radius: 0.5rem;
    cursor: pointer;
}
.song img{
    height: 3.1rem;
    border-radius: 0.3rem;
    transition: all 0.2s linear;
}
.song-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.song-details .songs-info{
    font-size: 12px;
    opacity: 0.7;
}
.song-list i{
position: absolute;
right: 0;
top: 50%;
transform: translate(-100% ,-50%);
}
.song{
    transition: all 0.5s ease;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.0);
}

.song-list::-webkit-scrollbar {
    display: none;
}
.song-list{
    padding-bottom: 5rem;
}
.song:hover img{
    border-radius: 20%;
}
.song:hover{
    box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.05);
}

.like-icon{
    margin-top: 6px;
    opacity: 0.6;
}
.like-icon:hover{
    opacity: 1;
}
.liked-icon{
    color: rgb(195, 97, 86) !important;
    opacity: 1;
}
