<div class="music-player">
    <div class="album">
        <img src="/img/album_picture.jpeg" class="album-img" alt="">
        <div class="album-text">
            <p class="song-name">Jaga Jaga</p>
            <p class="singer">Nikhil Chaudhary</p>
        </div>
        <div class="album-icons">
            <img src="/img/album_icon1.png" class="album-icon-1" alt="">
            <img src="/img/album_icon2.png" class="album-icon-2" alt="">
        </div>
    </div>

    <div class="player">
        <div class="player-controls" id="player-controls">
            <img src="/img/player_icon1.png" class="player-control-icon shuffle" type="button" alt="">
            <img src="/img/player_icon2.png" class="player-control-icon back" type="button" alt="">
            <img src="/img/player_icon3.png" class="player-control-icon " id="play-pause-btn" type="button" alt="" style="opacity: 1; height: 2rem;">
            <img src="/img/player_icon4.png" class="player-control-icon next" type="button" >
            <img src="/img/player_icon5.png" class="player-control-icon  loop" type="button" alt="">
        </div>
        <div class="playback-bar">
            <span class="currTime">00:00</span>
            <input type="range" min="0" max="100" value="0" class="prog-bar" id="prog-bar"  step="0.01">
            <span class="totTime">02:30</span>
        </div>
    </div>
    <div class="controls">
        <div class="control-icon">
            <img src="/img/controls_icon1.png" alt="" class="cicon-1 cicon">
            <img src="/img/controld_icon2.png" alt=""class="cicon-2 cicon">
            <img src="/img/controls_icon3.png" alt=""class="cicon-3 cicon">
            <img src="/img/controls_icon4.png" alt=""class="cicon-4 cicon">
            <img src="/img/controls_icon5.png" alt=""class="cicon-5 cicon mute" type="button">
        </div>
        <input type="range" class="volume-bar" min="0" max="100" step="1" >
    </div>
</div>
</div>
